<div *ngIf="form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let control of formModels">
      <div [ngSwitch]="control.type">

        <!-- 输入框 -->
        <!-- [ngStyle]="control.style" -->
        <div *ngSwitchCase="'input'" [ngStyle]="control.style">
          <label class="left-text">{{ control.name }}</label>
          <input [formControlName]="control.id" [value]="control.value" [placeholder]="control.placeholder" type="text"
            on-change="onRadioChange($event, control, form)" class="right-text">
        </div>
        <!-- 多选框 -->
        <div *ngSwitchCase="'checkbox'" [formGroupName]="control.id">
          <label class="left-text">{{ control.name }}</label>
          <div class="right-text" *ngFor="let option of control.options">
            <input [formControlName]="option.id" [name]="option.id" [id]="option.id" [checked]="option.value" type="checkbox"
              on-change="onRadioChange($event, control, form)">
            <label for="option.id">{{ option.name }}</label>
          </div>
        </div>
        <!-- 单选框 -->
        <div *ngSwitchCase="'radio'">
          <label class="left-text">{{ control.name }}</label>
          <div class="right-text" *ngFor="let option of control.options">
            <input [formControlName]="control.id" [name]="control.id" type="radio" [value]="option.value" [id]="option.id"
              on-change="onRadioChange($event, control, form)">
            <label for="option.label">{{ option.name }}</label>
          </div>

        </div>
        <!-- 下拉单选框 -->
        <div *ngSwitchCase="'dropDown'">
          <label class="left-text">{{ control.name }}</label>
          <select class="right-text" [formControlName]="control.id" [value]="control.value" on-change="onRadioChange($event, control, form)">
            <option *ngFor="let option of control.options" [value]="option.value">{{option.name}}</option>
          </select>
        </div>

        <!-- 颜色选择盘 -->
        <div *ngSwitchCase="'colorPicker'" [formGroupName]="control.id">
          <label class="left-text">{{ control.name }}</label>
          <div class="right-text" *ngFor="let option of control.options">
            <input [formControlName]="option.id" [name]="option.id" [id]="option.id" [value]="option.value" type="color"
              on-change="onRadioChange($event, control, form)">
            <label for="option.id">{{ option.name }}</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
