
  $title-color: '#333333';
  $title-fontsize: '16px';
  $text-color: '#6a6a6a';
  $text-fontsize: '16px';

.left-text {
  color: $title-color;
  font-size: $title-fontsize;
}

.right-text {
  color: $title-color;
  font-size: $title-fontsize;
}
